    * {
        /* border: 1px solid yellow; */
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,500;0,700;0,800;1,300;1,600&display=swap');
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    nav {
        font-family: 'Inter', sans-serif;
    }
    
    p {
        font-family: 'Open Sans', sans-serif;
    }
    
    .inline-block {
        display: inline-block;
        vertical-align: top;
    }
    
    .header {
        width: 23%;
        padding: 1%;
        text-align: center;
    }
    
    .logo {
        background-color: #000000;
        text-align: center;
    }
    
    nav {
        position: fixed;
        width: 100%;
        background-color: #000000;
        color: white;
        height: 84px;
        z-index: 10;
    }
    
    nav ul {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-left: 2rem;
    }
    
    nav ul li {
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
    }
    
    main {
        display: flex;
        justify-content: center;
        min-height: 800px;
    }
    
    #left {
        flex: 1 1 25%;
        margin-right: 5em;
    }
    
    #left img {
        width: 100%;
        padding: 20px;
    }
    
    #left button {
        float: right;
    }
    
    #right {
        flex: 1 1 75%;
    }
    
    .content {
        width: 1024px;
    }
    
    #right h1 {
        font-size: 48px;
        color: #FFD465;
    }
    
    .whiteTxt {
        color: white;
    }
    
    .blueTxt {
        color: #65BEFF;
    }
    
    .contentAbout {
        color: white;
        font-size: 24px;
    }
    
    #right h1 .positionedTxt {
        position: relative;
        top: 48px;
        right: 220px
    }
    
    #animationWrapper {
        padding-top: 6rem;
        width: 500px;
    }
    
    #animationWrapper img {
        width: 451px;
        float: right;
    }
    
    .highLightedProjects {
        display: flex;
        padding-left: 100px;
        padding-top: 32px;
        font-size: 32px;
        font-weight: 500;
        font-family: 'Inter', sans-serif;
        color: #65BEFF;
    }
    
    .highlightButton {
        display: flex;
        width: 30px;
        padding-left: 32px;
        float: right;
    }
    
    button {
        background-color: #65BEFF;
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        margin-right: 20px;
    }
    
    footer {
        background-color: #000000;
        height: 64px;
        padding: 1%;
    }
    
    footer ul {
        display: flex;
        gap: 2rem;
        color: white;
    }
    
    body {
        background-color: black;
    }
    /* mySkills */
    
    #skillsHeader h1 {
        display: flex;
        color: #FFD465;
        font-size: 48px;
        gap: 1em;
        margin: 32px;
    }
    
    #mySkills .flexContainer {
        display: flex;
        gap: 1em;
    }
    
    #mySkills {
        display: flex;
    }
    /* #mySkills h1 {
        color: #FFD465;
        font-size: 48px;
        margin: 32px;
    } */
    
    .skillSum h2 {
        color: white;
        font-size: 36px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        width: 375px;
        margin: 32px;
    }
    
    .skillSum p {
        color: white;
        width: 375px;
        height: 425px;
        margin: 32px 32px 16px 32px;
        font-family: 'OpenSans', sans-serif;
        font-size: 24px;
        font-weight: 500;
    }
    
    .skillSum .yellowTxt {
        color: #FFD465;
        font-weight: 700;
    }
    
    .skillSum img {
        width: 209px;
        height: 210.1px;
        display: flex;
        margin: auto;
        object-fit: contain;
    }
    
    .uResearch {
        margin-top: 32px;
    }
    
    .uResearch img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .uResearch h3 {
        color: white;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    
    .uResearch ul {
        color: white;
        width: 375px;
        height: 510px;
        margin: 0.5px 16px 16px 16px;
        font-family: 'OpenSans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
    }
    
    .uDesign {
        margin-top: 32px;
    }
    
    .uDesign img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    
    .uDesign h3 {
        color: white;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    
    .uDesign ul {
        color: white;
        width: 375px;
        height: 510px;
        margin: 0.5px 16px 16px 16px;
        font-family: 'OpenSans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        text-align: left;
    }
    
    .webD {
        margin: 32px;
    }
    
    .webD img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding-top: 32px;
        padding-bottom: 23px;
    }
    
    .webD h3 {
        color: white;
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
    }
    
    .webD ul {
        color: white;
        width: 375px;
        height: 88px;
    }